<form [formGroup]="vendorForm" id="vendorForm">
  <div id="vendorName">
    <label>Vendor Name</label>
    <input type="text" formControlName="vendorName">
  </div>
  <div id="vendorServiceType">
    <label>Service Type</label>
    <select formControlName="vendorServiceType">
      <option value="Select">Select TimeZone</option>
      <option *ngFor="let item of serviceType" value="{{item}}">{{item}}</option>
    </select>
  </div>
  <div id="vendorAddNew">
    <button mat-flat-button id="addNew" formControlName="vendorAddNew">+ Add New</button>
  </div>
</form>

<div *ngIf="userDetails!= 'undefined'">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8">

    <ng-container matColumnDef="vendor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
        Vendor Number
      </th>
      <td mat-cell *matCellDef="let element"> {{element.vendor}} </td>
    </ng-container>

    <ng-container matColumnDef="service">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
        Service Type
      </th>
      <td mat-cell *matCellDef="let element"> {{element.service}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>