#addNew{
    background: #23C746;
    color: white;
}
#vendorForm{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}
#vendorName,#vendorServiceType{
    label{
        display: inline-block;
        width: 40%;
     }
    input,select{
        width: 60%;
        font-weight: bold;
    }
}
table{
    width: 100%;
}
th{
    font-weight: bold;
    font-size: medium;
    background-color: #0070CD12;
}
#table{
    width: 100%;
    display: inline-flex;
    justify-content: center;
}