#main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%; 
}
#ratingText{
    color: #8798AD;
}
#icons{
    display: inline-flex;
    flex-wrap: wrap;
    div{
        width: 150px;
        height: 130px;
        margin: 5px;
        margin-top: 50px;
        text-align: center;
    }
    i{
        color: #DBDBDB;
        cursor: pointer;
    }
    #bad:hover{
        background-color: #A2DD3F;
        border-radius: 100px;
        border-radius: 70px;

    }
    #good:hover{
        background-color: #FDD61A;
        border-radius: 70px;

    }
    #excellent:hover{
        background-color:#FF7A17;
        border-radius: 100px;
        border-radius: 70px;


    }
    p{
        color:#8798AD;
    }
}