<header>
    <button mat-button mat-dialog-close id="close">
        <mat-icon>close</mat-icon>
    </button>
    <h2 mat-dialog-title>Edit Customers</h2>
    <p class="opacity">Manage your Customer information</p>
</header>

<body>
    <div id="navbar">
        <div (click)="tab('bussiness')"  style="width:80px"><span [class.active-tab]="bussinessContent">Bussiness</span></div>
        <div (click)="tab('vendors')" style="width:65px"><span [class.active-tab]="vendorsContent" >Vendors</span></div>
        <div (click)="tab('CSAT')" style="width:42px"><span [class.active-tab]="csatContent" >CSAT</span></div>
        <div (click)="tab('customerMood')" style="width: 135px;"><span [class.active-tab]="customerMoodContent">Customer Mood</span></div>
        <div (click)="tab('financialHealth')" style="width:132px"><span>Financial Health</span></div>
        <div (click)="tab('engagementHealth')" style="width:160px"><span>Engagement Health</span></div>
    </div>
    <div id="clickComponent">
        <app-edit-bussiness *ngIf="bussinessContent"></app-edit-bussiness>
        <app-edit-csat *ngIf="csatContent"></app-edit-csat>
        <app-edit-vendors *ngIf="vendorsContent"></app-edit-vendors>
        <app-edit-customer-mood *ngIf="customerMoodContent"></app-edit-customer-mood>
    </div>
</body>
<footer id="footer">
    <section id="footerButton">
        <button mat-stroked-button mat-dialog-close color="primary" class="cancel">cancel</button>
        <button mat-flat-button color="primary" class="save">Save & update</button>
    </section>  
</footer>
