$parent-bg-color: #11375C;
$header-border-bottom-style: solid;
$header-border-bottom-color: black;

.example-spacer {
  flex: 1 1 auto;
}

.header {
  background-color: #0070CD;
  width: 100% !important;
  height: 65px;
  padding: 0%;
  display: inline-flex;
  justify-content: space-between;
}
#headerRightBlock{
  display: flex;
  align-items: center;
  margin-right: 20px;
}

#menu{
  margin: 5px;
}

.input-group {
  border: black;
}

.header-child {
  background-color: $parent-bg-color;
  width: 100% !important;
  padding: 0% !important;
}

.heading {
  position: relative;
  top: 15px;
}

.heading-icon {
  margin: 10px 20px 10px 0px;
  height: 36px;
  width: 108px;
}

.acs-icon {
  position: relative;
  width: 80px;
  height: 40px;
  top: 10px;
  left: 35px;
}
#hederLeftBlock{
  width:108px;
}
.notification-icon {
  font-size: 30px !important;
  margin-right: 16px !important;
  font-weight: lighter !important;
}

.notification-account-icon {
  font-size: 30px !important;
  font-weight: lighter !important;
}
.mat-icon {
  color: white !important;
}

.logOutIcon {
  color: rgba(0, 0, 0, .87) !important;
}

.searchBar {
  border: 0.5px solid #759edd;
  background-color: #0070CD;
  border-radius: 5px;
  margin: 14px 6px 12px 32px;
  overflow: hidden;
  padding-left:  10px;
}

.searchBar input {
  background-color:#0070CD;
  color: white;
  border: none;
  padding-left: 5px;
}

.searchBar input::placeholder {
  color: white;
}

#navbarbutton{
  cursor: pointer;
}

.account-container {
  line-height: 55px;
  margin-left: -17px !important;
}

// .trans-button {
//   background-color: transparent;
//   border: none;
//   outline: none;
// }

// .sidebar-toggle {
//   @extend .trans-button;
//   color: #fff;
//   float: left;
//   padding: 15px;
//   margin-left: 5px;
// }



/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  /* CSS */

}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {

  /* CSS */

}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {

  /* CSS */

}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  /* CSS */

  .acs-container {
    left: -65px;
  }

}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {

  /* CSS */
  .acs-container {
    display: inline;
  }

  .heading-container {
    width: 75%;
    top: -6px;
  }

  .sidebar-toggle {
    width: 40px;
    height: 40px;
    color: white;
    border-radius: 7px;
    left: 0px;
    margin: 7px;
  }

  .account {
    display: none;
  }

  .account-container {
    width: 12px !important;
    line-height: 12px !important;
  }


}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {


  /* CSS */
  .acs-container {
    display: inline;
  }

  .heading-container {
    width: 75%;
    top: -6px;
  }

  .sidebar-toggle {
    width: 40px;
    height: 40px;
    color: white;
    border-radius: 7px;
    left: 0px;
    margin: 7px;
  }

  .account {
    display: none;
  }

  .account-container {
    width: 12px !important;
  }

}

