<div id='breadcrum'>
  <section>
    <h2>Transplace</h2>
    <p class="opacity">Manage all yourcustomer information </p> <span (click)="openPopup()" id="editButton"> (<p
        class="fa-solid fa-pen"></p>Edit)</span>
  </section>
  <section id="updatedDate">
    <p> Laste Updated:{{updatedDate | date:'medium'}}</p>
  </section>
</div>
<div id="overviewCard">
  <mat-card>
    <mat-card-title>Overview</mat-card-title>
    <mat-card-content>
      <div class="overview">
        <span class="opacity"> {{userData?.Overview}}</span>
        <div id="clientData">
          <section id="section1">
            <p><label>Website </label> <a href="userData?.Website"><span>{{userData?.Website}}</span></a></p>
            <p><label>Industry </label> <span>{{userData?.Industry}}</span></p>
            <p><label>Compnay Size </label><span>{{userData?.CompanySize}}</span></p>
            <p><label>Headquaters </label><span>{{userData?.Headquarters}}</span></p>
            <p><label>Speciality </label> <span>{{userData?.Speciality}}</span> </p>
            <p><label>Services Offered</label></p>
            <span>{{userData?.ServicesOffered}} </span>
            <p><label>Technologies</label> <span>{{userData?.TechStack}}</span></p>
          </section>
          <section>
            <p><label>Client Partner </label><span>{{userData?.ClientPartner}}</span></p>
            <p><label>Delivery Manager </label><span>{{userData?.DeliveryModel}}</span></p>
            <p><label>Time zone </label><span>{{userData?.Timezone}}</span></p>
            <p><label>Delivery Model </label><span>{{userData?.DeliveryModel}}</span></p>
            <p><label>Onshore Resources/ </label><span>{{userData?.OnshoreResources}}</span></p>
            <p><label>Offshore Resource </label><span>{{userData?.OffshoreResource}}</span></p>
            <p><label>Near Shore </label><span>{{userData?.NearShore}}</span></p>
          </section>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div id="customerAdditionalDetails">
  <div id="vendorsBlock">
    <mat-card class="vendor-table">
      <mat-card-content>
        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="vendors">
              <th mat-header-cell *matHeaderCellDef> Other Vendors </th>
              <td mat-cell *matCellDef="let element"> {{element.vendor}} </td>
            </ng-container>

            <ng-container matColumnDef="service">
              <th mat-header-cell *matHeaderCellDef> Services lines offered </th>
              <td mat-cell *matCellDef="let element"> {{element.service}} </td>
            </ng-container>
            <div class="table-content">
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </div>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div id="csatWithMood">
        <div class="CSAT">
          <mat-card>
            <mat-card-title>CSAT</mat-card-title>
            <mat-card-content>
              <div class="rating">
                <ng-container *ngFor="let i of stars">
                  <i class="fa-solid fa-star" [ngClass]="{'active':i<=rating}"></i>
                </ng-container>
              </div>
            </mat-card-content>
          </mat-card>
          </div> 
        <div class="mood">
          <mat-card>
            <mat-card-title>Customer Mood</mat-card-title>
            <mat-card-content>
            </mat-card-content>
          </mat-card>
        </div>
  </div>
    <div class="financial">
      <mat-card>
        <mat-card-title>Financial Health</mat-card-title>
        <mat-card-content>
        </mat-card-content>
      </mat-card>
    </div>
  <div class="engagement">
    <mat-card>
      <mat-card-title>Engagement Health</mat-card-title>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div> 
</div>