@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&display=swap');

.lastTwoDiv1 section .website11{
    
    position: absolute;
width: 82px;
height: 16px;
left: 188px;
top: 503px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
}

.lastTwoDiv1 section .input6{
    
    box-sizing: border-box;

position: absolute;
width: 276px;
height: 36px;
left: 314px;
top: 493px;

background: #FFFFFF;
border: 1px solid #D9D9D9;
border-radius: 5px;
}

.lastTwoDiv2 section .website12{
    position: absolute;
    width: 103px;
    height: 16px;
    left: 187px;
    top: 563px;
    
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    color: #747986;
}
.lastTwoDiv2 section .select5{
    box-sizing: border-box;

position: absolute;
width: 276px;
height: 36px;
left: 314px;
top: 553px;

background: #FFFFFF;
border: 1px solid #D9D9D9;
border-radius: 5px;
}




#bussinessFormId .twoSection1 section .website1{
   
    position: absolute;
    width: 49px;
    height:16px;
    top:203px;
    left:188px;

    font-family: 'Inter';
    font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;

letter-spacing: 0.4px;

color: #747986;
}
#bussinessFormId .twoSection1 section input[type=text]{
    box-sizing: border-box;

    position: absolute;
    width: 276px;
    height:36px;
    top:193px;
    left:314px;

    background: #FFFFFF;
border: 1px solid #D9D9D9;
border-radius: 5px;
}
#bussinessFormId .twoSection1 section .website2{
    position: absolute;
    width: 59px;
    height:16px;
    top:203px;
    left:646px; 

    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
color: #747986;
}
#bussinessFormId .twoSection1 section .select1{
    box-sizing: border-box;

    position: absolute;
    width: 276px;
    height:36px;
    top:193px;
    left:781px;

    background: #FFFFFF;
border: 1px solid #D9D9D9;
border-radius: 5px;
}
#bussinessFormId .twoSection2 section .website3{
    position: absolute;
    width: 50px;
    height: 16px;
    left: 188px;
    top: 263px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    letter-spacing: 0.4px;
    color: #747986;
}

#bussinessFormId .twoSection2 section .select2{
    box-sizing: border-box;

position: absolute;
width: 276px;
height: 36px;
left: 314px;
top: 253px;

background: #FFFFFF;
border: 1px solid #D9D9D9;
border-radius: 5px;
}
#bussinessFormId .twoSection2 section .website4{
    position: absolute;
    width: 92px;
    height: 16px;
    left: 646px;
    top: 263px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    
    color: #747986;
}
#bussinessFormId .twoSection2 section .select3{
    box-sizing: border-box;

position: absolute;
width: 276px;
height: 36px;
left: 781px;
top: 253px;

background: #FFFFFF;
border: 1px solid #D9D9D9;
border-radius: 5px;
}
#bussinessFormId .twoSection3 section .website5{
    position: absolute;
    width: 86px;
    height: 16px;
    left: 188px;
    top: 323px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    letter-spacing: 0.4px;

color: #747986;
}

#bussinessFormId .twoSection3 section .input1{
    box-sizing: border-box;

position: absolute;
width: 276px;
height: 36px;
left: 314px;
top: 313px;

background: #FFFFFF;
border: 1px solid #D9D9D9;
border-radius: 5px;
}
#bussinessFormId .twoSection3 section .website6{
    position: absolute;
width: 115px;
height: 16px;
left: 646px;
top: 323px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;

color: #747986;
}

#bussinessFormId .twoSection3 section .input2{
    box-sizing: border-box;

position: absolute;
width: 276px;
height: 36px;
left: 781px;
top: 313px;

background: #FFFFFF;
border: 1px solid #D9D9D9;
border-radius: 5px;
}

#bussinessFormId .twoSection4 section .website7{
    position: absolute;
    width: 83px;
    height: 16px;
    left: 188px;
    top: 383px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    letter-spacing: 0.4px;
color: #747986;
}

#bussinessFormId .twoSection4 section .select4{
    box-sizing: border-box;

position: absolute;
width: 276px;
height: 36px;
left: 314px;
top: 373px;

background: #FFFFFF;
border: 1px solid #D9D9D9;
border-radius: 5px;
}
#bussinessFormId .twoSection4 section .website8{
    position: absolute;
width: 120px;
height: 16px;
left: 646px;
top: 377px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;

color: #747986;
}
#bussinessFormId .twoSection4 section .input3{
    box-sizing: border-box;

position: absolute;
width: 276px;
height: 36px;
left: 781px;
top: 367px;

background: #FFFFFF;
border: 1px solid #D9D9D9;
border-radius: 5px;
}

#bussinessFormId .twoSection5 section .website9{
    position: absolute;
width: 59px;
height: 16px;
left: 188px;
top: 443px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;

letter-spacing: 0.4px;

color: #747986;
}
#bussinessFormId .twoSection5 section .input4{
    box-sizing: border-box;

position: absolute;
width: 276px;
height: 36px;
left: 314px;
top: 433px;

background: #FFFFFF;
border: 1px solid #D9D9D9;
border-radius: 5px;
}
#bussinessFormId .twoSection5 section .website10{
    position: absolute;
width: 64px;
height: 16px;
left: 646px;
top: 437px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;

color: #747986;
}
#bussinessFormId .twoSection5 section .input5{
    box-sizing: border-box;

position: absolute;
width: 276px;
height: 36px;
left: 781px;
top: 427px;

background: #FFFFFF;
border: 1px solid #D9D9D9;
border-radius: 5px;
}












// #bussinessFormId .twoSection section{
//     display: inline-block;
//     width: 90%;
// }

// #bussinessFormId label {
//  width: 40%;  
//  opacity: 0.7;
// }
// #bussinessFormId input,#bussinessFormId select {
//     width: 50%;
//     border: 1px solid gainsboro;
//     border-radius: 10px;
//     padding: 5px;
//     font-weight: bold;
// }

// select[value="Select time Zone"]{
//     font-weight: 100;
// }

// #footerButton {
//     float: right;
// }

// #footerButton button {
//     margin: 5px;
// }
// #close {
//     float: right;
//     clear: both;
//     background-color: none;
// }
// @media (max-width:768px){
//      .twoSection,.lastTwoDiv{
//         flex-direction: column;
//         justify-content:initial
//     }
//     .twoSection section{
//         margin: 10px;
//     }
//     .lastTwoDiv section{
//         width: 90%;
//     }
    


// }