<form [formGroup]="bussinessForm" id="bussinessFormId">
    <div class= 'twoSection1'>
        <section>
            <label for="website" class="website1">Website </label>
            <input  type="text" formControlName="website" placeholder="Enter Website">
        </section>
        <section>
            <label for="timeZone" class="website2">Time zone </label>
            <select formControlName="timeZone" class="select1" >
                <option *ngFor="let item of timeZoneOption " [value]="item">{{item}}</option>
            </select>
        </section>
    </div>
    <div class= 'twoSection2'>
        <section>
            <label for="industry" class="website3" >Industry </label>
            <select formControlName="industry" class="select2">
                <option *ngFor="let item of industryOption" [value]="item">{{item}}</option>
            </select>
        </section>
        <section>
            <label for="deliveryModel" class="website4">Delivery Model </label>
            <select formControlName="deliveryModel" class="select3">
                <option *ngFor="let item of deliveryModelOption" [value]="item">{{item}}</option>
            </select>
        </section>
    </div>
    <div class= 'twoSection3'>
        <section>
            <label for="companySize" class="website5">Company Size </label>
            <input  type="number" class="input1" formControlName="companySize" placeholder=" Enter Company Size">
        </section>
        <section>
            <label for="onshoreResources"class="website6">Onshore Resources/ </label>
            <input class="input2" (keydown)='numberValidation($event)' type="number" formControlName="onshoreResources" placeholder="Enter Onshore Resources">
        </section>
    </div>
    <div class= 'twoSection4'>
        <section>
            <label for="headquarters"class="website7">Headquarters </label>
            <select formControlName="headquarters" class="select4">
                <option *ngFor="let item of headquatersOption " [value]="item">{{item}}</option>
            </select>
        </section>
        <section>
            <label for="offshoreResources"class="website8">Offshore Resources/ </label>
            <input  class="input3"(keydown)='numberValidation($event)' type="number" formControlName="offshoreResources" placeholder="Enter Offshore Resources">
        </section>
    </div>
    <div class= 'twoSection5'> 
        <section>
            <label for="speciality"class="website9">Speciality </label>
            <input class="input4" type="text" formControlName="speciality" placeholder="Enter Speciality">
        </section>
        <section>
            <label for="nearShore"class="website10">Near Shore </label>
            <input class="input5" (keydown)='numberValidation($event)' type="number" formControlName="nearShore" placeholder=" Enter Near shore">
        </section>
    </div>
    <div class="lastTwoDiv1">
        <section>
            <label class="website11" for="clientPartner">Client Partner</label>
            <input class="input6" type="text" formControlName="clientPartner" placeholder="Enter Client Partner">
        </section>
    </div>
    <div class="lastTwoDiv2">
        <section  >
            <label class="website12" for="deliveryManager">Delivery Manager </label>
            <select class="select5" formControlName="deliveryManager" style="color: black;">
                <option *ngFor="let item of deliveryManagerOption" [value]="item">{{item}}</option>
            </select>
        </section>
    </div>
</form>