

.rating{
    display: flex;
    justify-content: center;
    gap:10px;
    margin-top:100px;
}
h1{
    position: absolute;
left: 47.22%;
right: 49.41%;
top: 29.69%;
bottom: 67.19%;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;

color: #222222;
}
p{
    // text-align: center;
    // opacity: 0.5;
    position: absolute;
left: 41.73%;
right: 43.92%;
top: 33.33%;
bottom: 64.58%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

color: #8798AD;
}
i{
  color: rgb(219,219,219);
    cursor: pointer;
//     position: absolute;
//  left: 29.25%;
// right: 67.32%;
// top: 39.28%;
// bottom: 54.93%;

//  background: #DBDBDB;
}
.active{
    color: orange;
}
.mainDIv{
    // margin-top:100px;
}