<div class="mainDIv">
    <h1>CSAT</h1>
    <p>Add your review on a scale of 1-5</p>
</div>
    <div class="rating">
        <ng-container *ngFor="let i of stars">
            <i class="fa-regular fa-star fa-5x " (click)="updateRating(i)"
                [ngClass]="{'active': i<=selectedRating}"></i>
        </ng-container>
    </div>
